<header id="header" style="z-index: 2;">
	<nav class="links" style="--items: 5;">
		<a href="/home">Inicio</a>
		<a routerLink="/productos">Productos</a>
		<a href="#">Nosotros</a>
		<a href="#">Información</a>
		<a routerLink="/index">Login</a>
		<span class="line"></span>
	</nav>
</header>

<div class="content" style="margin-top: 140px;">
	<strong>Prueba body</strong>
	<ul>
		<li>Li prueba body</li>
	</ul>
	<strong>Números</strong>
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>

	</ul>
	<strong>Por hacer</strong>
	<ul>
		<li>Pulir interfaz gráfica</li>
		<li>Arreglar el inventario</li>
        <li>Optimizar y arreglar login en Laravel para usar con Passport en Angular. Todavía no se puede logear el usuario desde Angular, pero sí en Laravel.</li>
	</ul>
</div>